* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  color: #f9faf8;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  font-size: 24px;
  color: #f9faf8;
}

.header_link {
  display: flex;
  gap: 20px;
}

.web_info {
  display: flex;
  margin-top: 5px;
}
.web_info button {
  padding: 5px 35px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: #3992f6;
  color: white;
}

.details {
  flex: 1;
  max-width: 48%;
}
.details h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.details1 {
  font-size: 18px;
  color: #e5e7eb;
}
.head_image {
  flex: 1;
  padding: 10px;
  padding-left: 60px;
}

.head_image img {
  height: 250px;
  width: 90%;
}
