* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  color: #f9faf8;
}

.background {
  background-color: #1f2937;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 15% 0 15%;
  min-height: 500px;
  max-height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  font-size: 24px;
  color: #f9faf8;
}

.header_link {
  display: flex;
  gap: 20px;
}

.web_info {
  display: flex;
  margin-top: 100px;
}
.web_info button {
  padding: 5px 35px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: #3992f6;
  color: white;
}

.details {
  flex: 1;
  max-width: 48%;
}
.details h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.details1 {
  font-size: 18px;
  color: #e5e7eb;
}
.head_image {
  flex: 1;
  display: flex;
  justify-content: right;
}

.head_image img {
  height: 200px;
  width: 70%;
}

#info_header {
  margin: 30px 0 30px 0;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.container {
  display: flex;
  justify-content: center;
}
.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: 30px;
}
.sub img {
  border-radius: 10px;
  max-width: 200px;
}
.sub p {
  text-align: center;
}

.grey_background {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 100px;
}

.Quote {
  width: 60%;
}
.Quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
#writer {
  text-align: end;
  width: 90%;
  font-weight: 500;
}
